# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat build artifacts
/artifacts

# Hardhat cache
/cache

# TypeChain generated output
/types

# Environment files
.env
.env.*
!.env.example

# Hardhat coverage reports
/coverage

# Gas snapshot files
/.gas-snapshot

# Snapshot cheatcodes output
/snapshots